* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

@media (max-width: 1080px) {
  html {
      font-size: 93.75%
  }
}

@media (max-width: 720px) {
  html {
      font-size: 87.5%
  }
}

.container {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
  padding: 2.625rem 1.3125rem;
  min-height: 100%;
}

.nav__header {
  display: flex;
  justify-content: space-between;
}

body, input, textarea, select, button {
  font: 400 1rem "Merriweather", sans-serif;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none
}